h1{
  margin: 0;
  color: rgb(255,255,255);
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /*background-color: rgb(44, 8, 57); */
  background-color: rgb(22, 4,28); 
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 20px;
  margin: 20px auto; 
}


/* Define the cursor effect */
.cursor-light {
  position: fixed;
  width: 800px;
  height: 800px;
  /*background-color: rgb(255, 0, 0); /* Adjust the opacity as needed */
  border-radius: 50%;
  pointer-events: none; /* Make sure it doesn't interfere with mouse events */
  transition: transform 0.05s ease;
  z-index: -1; /* Place it behind other elements */
  background: radial-gradient(circle, rgb(89, 41, 201,0.2) 0%, rgba(44,8,57,0) 60%);
  overflow: hidden;
  margin:0px;
  padding:0px;
  margin-left: auto;
  margin-right: auto
}

.full-screen-div {
  height: 100vh;
  width: 100%;
  /*background-color: lightblue;*/
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  
}

p, .tech-label{
  color: rgb(255,255,255);
}
  

.title{
  opacity: 0;
  text-align: center;
  font-size: 60px;
}

.slide-right {
  animation: slideInRight 2s ease forwards;
}
.slide-left {
  animation: slideInLeft 2s ease forwards;
}



@keyframes slideInRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin:0px;
}


.technology-section {
  display: flex;
  flex-wrap: wrap; /* Allow technologies to wrap to the next line */
  justify-content: center; /* Center technologies horizontally */
}

.technology {
  width: 150px; /* Adjust the width of each square */
  height: 120px; /* Adjust the height of each square */
  
  /*border: 5px solid;
  border-image: linear-gradient(45deg, purple, orange) 1;*/
  border: 2px solid transparent;
  background: linear-gradient(#151515,#151515) padding-box, linear-gradient(to right, #AD38FB, #0083FF ) border-box;
  border-radius: 10px;


  margin: 10px; /* Margin around each square */
  display: flex;
  flex-direction: column; /* Arrange icon and label vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  /*border: 2px solid #ccc; /* Border color and width */

}


.tech-icon {
  font-size: 20px; /* Adjust the size of the icon */
  display: block;
  height: auto;
  max-width: 40%; /* Ensure the image doesn't exceed the container's width */
  max-height: 40%;
  margin:10px;
  margin-bottom: 20px;
}

.tech-label {
  margin: 20px; /* Add spacing between the icon and label */
  padding: 5px;
}

.separator {
  text-align: center; /* Center the text */
  margin: 20px 0; /* Add margin for spacing */
  color: white; /* Text color */
  width: 100%;
}


.section-separator {
  text-align: center; /* Center the text */
  margin: 20px 0; /* Add margin for spacing */
  color: white; /* Text color */
  width: 100%;
  align-items: center; 
  font-size: 26px;
}


.blogs-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-item {
  width: 300px;
  height: 300px;
  background-color: #f0f0f0;
  border-radius: 20px;
  margin: 10px;
  overflow: hidden;
  
}

.blog-item img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  margin:0px;
}

.blog-content {
  padding: 10px;
}

.blog-content {
  margin-top: 0;
}

.blog-content p {
  margin-bottom: 0;
}

